# ====================================
# Generated and Build files
# ====================================
*.iml
/build
/.kotlin

# ====================================
# Local Gradle Properties
# ====================================
/local.properties

# ====================================
# Keystore
# ====================================
*.jks
*.key
*.keystore

# ====================================
# Kotlin / Java
# ====================================
*.log
*.class

# ====================================
# OS Files
# ====================================
.DS_Store
Thumbs.db

# ====================================
# Gradle
# ====================================
/.gradle
/gradle-build/
/gradle-app.setting
/gradle-app.setting.*

# ====================================
# NDK
# ====================================
obj/
.cxx/

# ====================================
# Packaging
# ====================================
*.apk
*.ap_
*.aab
*.aar
*.aapt

# ====================================
# Misc
# ====================================
*.hprof
captures/
